<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>{%server_name%}</title>
		<link title="​{%server_name%}" href="/opensearch{%ac%}" rel="search" type="application/opensearchdescription+xml">
		<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/static/style.css?v{%version%}">
		{%style%}
		<meta name="robots" content="index,follow">
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="description" content="{%server_name%}: {%server_short_description%}">
	</head>
	<body class="home">
		<div id="center">
			<form method="GET" autocomplete="off" action="web">
				<div class="logo">
					<a href="/">
						<img src="{%banner%}" alt="4get">
					</a>
				</div>
				<div class="searchbox">
					<input type="submit" value="Search" tabindex="-1">
					<div class="wrapper">
						<input type="text" maxlength="500" name="s" placeholder="Proxy search..." required autofocus>
					</div>
					<div class="autocomplete"></div>
				</div>
			</form>
			<a href="settings">Settings</a> • <a href="api.txt">API</a> • <a href="about">About</a> • <a href="https://gitlab.com/DeltaJordan/4get">Source</a>
			<div class="subtext">
				<a href="https://whoogle.kelpdo.me/">Clearnet</a> • <a href="http://4getwebfrq5zr4sxugk6htxvawqehxtdgjrbcn2oslllcol2vepa23yd.onion">Tor</a><br>
				Running on <b>v{%version%}</b>!!
			</div>
		</div>
		<script src="/static/client.js?v{%version%}"></script>
	</body>
</html>
